node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
ios/Pods/
ios/Podfile.lock
android/app/build/
android/.gradle/
android/build/
android/gradle/
*.log

# IDEs
.vscode/
.idea/
*.iml

# Misc
*.env

# macOS
.DS_Store

